<robot name="mid360">
  <material name="orange">
    <color rgba="1.0 0.5 0.2 1" />
  </material>
  <material name="gray">
    <color rgba="0.2 0.2 0.2 1" />
  </material>

  <material name="green">
    <color rgba="0.0 1.0 0.0 1" />
  </material>
 
 
  <link name="imu_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.06 0.04 0.02" />
      </geometry>
      <material name="orange" />
    </visual>
  </link>
 
  <link name="lidar_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <cylinder length="0.07" radius="0.05" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>

  <link name="base_link">

     <visual>
      <origin xyz="0.49253 0.0 0.0" />
      <geometry>
        <box size="1.61 1.0266 1.4265" />
      </geometry>
      <material name="green" />
    </visual>

  </link>
 
  <joint name="imu_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
    <origin xyz="1.31753 0.5333 0.57482" rpy="0 0 0.785398" />
  </joint>
 
  <joint name="lidar_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="lidar_link" />
    <origin xyz="1.31753 0.5333 0.57482" rpy="0 0 0.785398" />
  </joint>
</robot>
