<launch>

  <include file="$(find livox_ros_driver2)/launch_ROS1/no_rviz_MID360.launch">
  </include>


  <param name="/use_sim_time" value="false" /> <!-- true: offline (rosbag); false: online -->
  <param name="robot_description" textfile="$(find cartographer_ros)/urdf/mid360.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" 
    args="-configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename mid360_localization.lua
          -load_state_filename /home/nvidia/wjd/testmaps/carto_map.pbstream"
    output="screen">

    <remap from="scan" to="front_scan" />
    <remap from="odom" to="odom" />
    <remap from="points2" to="livox/lidar" />
    <remap from="imu" to="livox/imu" />

  </node>


<!--0: 建图的初始位置作为导航的零点
    1：设置参数服务器参数作为导航的零点
    2：rviz设置初始位置作为导航的零点
-->
  <param name="/use_localization" type="int" value = "1"/>
  <param name="/set_inital_pose_x" type="double" value = "-11"/>
  <param name="/set_inital_pose_y" type="double" value = "-11.6"/>
  <param name="/set_inital_pose_z" type="double" value = "0.0"/>
  <param name="/set_inital_pose_ox" type="double" value = "0.0"/>
  <param name="/set_inital_pose_oy" type="double" value = "0.0"/>
  <param name="/set_inital_pose_oz" type="double" value = "0.55"/>
  <param name="/set_inital_pose_ow" type="double" value = "0.83"/>




  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
    type="cartographer_occupancy_grid_node" args="-resolution 0.075 -pure_localization 1"/>
    
  <node name="map_server" pkg="map_server" type="map_server"
    args="/home/nvidia/wjd/testmaps/carto_map.yaml" />

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />



  <node pkg="tf2_ros" type="static_transform_publisher" name="imu2livox_frame" 
    args="0 0 0 0 0 3.14 imu_link livox_frame" />


  <node pkg="tf2_ros" type="static_transform_publisher" name="map2map_temp" 
    args="0 0 0 1.5707 0 3.14 map map_temp" />
  <node pkg="cleaning_robot" type="transform" name="trans"/>



	<!-- <node name = "map_server" pkg = "map_server" type = "map_server" args="/home/nvidia/wjd/testmaps/carto_map.yaml map:=/map" >
	</node> -->

	<arg name="scan_name" default="/livox/lidar"/>

    <!-- target_frame: robot_foot_init -->

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
	 	<remap from="cloud_in" to="$(arg scan_name)"/>
        <rosparam>
            transform_tolerance: 0.01
            min_height: 0
            max_height: 1.06

            angle_min: -1.91 # -110°
            angle_max: 2.09 # 120°
            angle_increment: 0.0087 # M_PI/360.0
            scan_time: 10
            range_min: 0.05
            range_max: 30.0
            use_inf: true
            inf_epsilon: 1.0
            
            concurrency_level: 1
        </rosparam>
    </node>

    
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find cleaning_robot)/test_param/move_base_params.yaml" command="load" />
        <rosparam file="$(find cleaning_robot)/test_param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find cleaning_robot)/test_param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find cleaning_robot)/test_param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find cleaning_robot)/test_param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find cleaning_robot)/test_param/eband_local_planner_params.yaml" command="load" />
        <param name="base_global_planner" value="global_planner/GlobalPlanner"/> 
        <!-- <remap from="map" to="map"/> -->
        <remap from="odom" to="carto_odom"/>
    </node>




</launch>
