<launch>

  <param name="/use_sim_time" value="false" /> <!-- true: offline (rosbag); false: online -->
  <param name="robot_description" textfile="$(find cartographer_ros)/urdf/mid360_huaian.urdf" />
  
  <include file="$(find cleaning_robot)/launch/pub_merged_points.launch"/>


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" 
    args="-configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename mid360_mapping_huaian.lua"
    output="screen">

    <remap from="scan" to="front_scan" />
    <remap from="odom" to="odom" />
    <remap from="points2" to="points_calibrated"/>
    <remap from="imu" to="livox/imu_192_168_1_196" />

  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
    type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

  <node name="rviz" pkg="rviz" type="rviz" required="true" 
    args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />


  <node pkg="tf2_ros" type="static_transform_publisher" name="imu2livox_frame" 
    args="0 0 0 0 0 3.14 imu_link livox_frame_192_168_1_196" />


 <node pkg="tf2_ros" type="static_transform_publisher" name="map2map_temp" 
    args="0 0 0 1.5707 0 3.14 map map_temp" />
  <node pkg="cleaning_robot" type="transform" name="trans"/>
 <node pkg="cleaning_robot" type="transform2" name="trans2"/>





</launch>
